.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.pub-cache/
.packages
build/
coverage/
*.iml
*.jks
*.keystore
*.mobileprovision
*.p12
*.pem
*.env
android/local.properties
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
**/GeneratedPluginRegistrant.*
